<!DOCTYPE html>
<html lang="ja">
<head>
    
<meta charset="UTF-8">

<title>トップページ｜あられの匠白木Webサイト</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="5J3n49o3R5pGOZhtcDYoCgsi2NQ7AhFRDXv6y7Yf7fY"/>

<meta name="keywords" content="あられ,名古屋市北区,白木,素材,最高級の素材,おいしい,こだわり,米">
<meta name="description" content="あられ・おせんべいの製造・卸・販売を行う老舗【あられの匠 白木】公式オンラインショップ。厳選された素材と職人のこだわり製法で作られた上質なあられ・おせんべいをお届けします。贈答・ギフト向け高級あられから、ご自宅用のバラエティあられ、名古屋土産まで豊富に取り揃えております。">
<meta name="robots" content="index,follow">
    
<!-- 基本のOGP設定 -->
  <meta property="og:title" content="トップページ｜あられの匠白木Webサイト">
  <meta property="og:description" content="あられ・おせんべいの製造・卸・販売を行う老舗【あられの匠 白木】公式オンラインショップ。厳選された素材と職人のこだわり製法で作られた上質なあられ・おせんべいをお届けします。贈答・ギフト向け高級あられから、ご自宅用のバラエティあられ、名古屋土産まで豊富に取り揃えております">
  <meta property="og:url" content="https://www.arareya.com/">
  <meta property="og:image" content="https://www.arareya.com/images/top_1200x630.jpg">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="あられの匠白木Webサイト">
  <meta property="og:locale" content="ja_JP">

<link rel="stylesheet" href="css/header_ng.css?202607281858" type="text/css" media="all"/> 
<link rel="stylesheet" href="css/gift.css" type="text/css" media="all"/>
<link rel="stylesheet" href="css/default.css" type="text/css" media="all"/>
<link href="css/slick-theme.css?202607010955" rel="stylesheet" type="text/css">
<link href="css/slick.css" rel="stylesheet" type="text/css">
<!-- FontAwesomeの読み込み始まり -->
<link href="font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
<!-- FontAwesomeの読み込み終わり -->
    
<!--====================================================
Google Fonts（Noto Serif JP）読み込みはじまり
=====================================================-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
<!--====================================================
Google Fonts（Noto Serif JP）読み込みおわり
=====================================================-->
    
<!-- ドロワー用css読み込み始まり -->
<link href="css/sps_common.css" rel="stylesheet" type="text/css"/>
<link href="css/default.css" rel="stylesheet" type="text/css"/>
<!-- ドロワー用css読み込み終わり -->
    
<link rel="stylesheet" href="css/header_ng.css" type="text/css" media="all"/>
    
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css">

</head>

<body>

<div class="wrap">

<!--=================
メニュー始まり
==================-->
<header class="menu_wrap">
 	<div class="menu">	 
   				<div id="header_shiraki_logo">
   					<a href="index.htm">
            			<img src="images/logo_bk.png" alt="あられの白木屋墨ロゴ" class="header_shiraki_logo_img">
            		</a>
  				</div>
    </div>
    
<div class="under-element"></div>
    <nav class="gnav" id="site-sidebar"></nav>

  				<div id="header_shiraki_logo_sp">
   					<a href="index.htm">
            			<img src="images/logo_wh.png" alt="あられの白木屋白ロゴ" class="header_shiraki_logo_img">
            		</a>
  				</div>
</header>
<!--=================
メニュー終わり
==================-->

<div id="site-humbergar_menu"></div>

<!--=================
ヘッダ始まり
==================-->  
  
<div class="under-element"></div>
        
<!--=================
slicker始まり
==================-->        
<div id="slicker_pc">	
		<ul class="slider">
			<li><img src="images/top1_2.jpg" alt="トップページスライドショウ用（PC用）画像1"></li><!--<div id="02"></div>-->
			<li><img src="images/top2_2.jpg" alt="トップページスライドショウ用（PC用）画像2"></li>
			<li><img src="images/top5_2.jpg" alt="トップページスライドショウ用（PC用）画像3"></li>
            <li><img src="images/top4_2.jpg" alt="トップページスライドショウ用（PC用）画像4"></li>
		</ul>
</div>

<div id="slicker_sp">	
		<ul class="slider">
			<li><img src="images/top1_2sp.jpg" alt="トップページスライドショウ用（スマホ用）画像1"></li>
			<li><img src="images/top2_2sp.jpg" alt="トップページスライドショウ用（スマホ用）画像2"></li>
			<li><img src="images/top5_2sp.jpg" alt="トップページスライドショウ用（スマホ用）画像3"></li>
            <li><img src="images/top4_2sp.jpg" alt="トップページスライドショウ用（スマホ用）画像4"></li>
		</ul>
</div>
<!--=================
slicker終わり
==================-->

<!--=================
PC用検索窓はじまり
==================-->

<div class="leftSearch_B"><div class="kensaku">商品検索</div>
   <div id="searchbox_wrap">
        <div id="searchbox">
        <p><img src="img/t_search.jpg" alt="search" /></p>
        <form action="https://www.arareya.com/SHOP/list.php" method="get" name="searchform">
            <input type="text" value="" name="Search" class="searchbox"/>
            <input type="image" name="submit" class="searchSubmit" src="img/submitSearch.gif" alt="検索" onclick="search_back();this.form.submit();return false;"/>
            <input type="hidden" name="FROM_ENCODING" value="U">
        </form>
        </div>
    </div>
</div>
<!--=================
PC用検索窓終わり
==================-->

<div id="main-wrap_shiraki_pc2">       
               <div class="bottun_3"> 
                   <a class="bottun_3_img" onClick="openPage('https://cart9.shopserve.jp/-/arareya.com/login.cgi','mypage'); return false;" href="/_ga/login.cgi" aria-label="マイページへログイン">
                	</a>
   		  		</div>
</div>
  
<div id="main-wrap_shiraki_pc3">           
                <div class="bottun_4">
                   	<a href="https://cart9.shopserve.jp/-/arareya.com/cart.php" class="bottun_4_img" aria-label="ショッピングカート">  
                	</a>
           		</div>
</div>

<div id="main-wrap_shiraki_sp2">       
               <div class="bottun_sp_3">  
                   <a href="https://cart9.shopserve.jp/-/arareya.com/login.cgi" aria-label="ログイン" class="bottun_3_sp_img">  
                	</a>
   		  		</div>
</div>
        
<div id="main-wrap_shiraki_sp3">           
                <div class="bottun_sp_4">
                    <a href="https://cart9.shopserve.jp/-/arareya.com/cart.php" class="bottun_4_sp_img" aria-label="ショッピングカート">
                    </a>
           		</div>
</div>

<!--=================
ヘッダ終わり
==================-->

<!--=================
PC本文始まり
==================-->
<div class="catg-wrap_shiraki_pc">

   
<!--お知らせ始まり-->

    <div class="oshirase_title">  
        お知らせ
        </div>
        <div class="oshirase_list cloud">
            <ul>
                <!-- MICROCMS_NEWS_TOP -->
            </ul>
            <a href="blog_top.html" class="top_info_4_text_shiraki_pc_font">もっと見る ▶</a>
        </div>

<!--お知らせ終わり-->

<div id="01"></div>
<!--人気の商品始まり-->
<div id="catg-wrap_shiraki_pc">
  <hr>
    	<div class="oshirase_title">
        	人気の商品
        </div>
        
        <div class="oshirase_list_pc">
        	
                
                <div class="kisetsu_pc">
                            <a href="https://www.arareya.com/SHOP/fukiyoseyushiki001.html"   class="top_product_text_pc_font">
                                <img src="images/kisetsu1_2.jpg" alt="吹きよせ遊四季 商品画像" class="kisetsu_p1" loading="lazy"/>
                            </a>
                </div > 
 
                <div class="kisetsu_pc">
                            <a href="https://www.arareya.com/SHOP/a028.html"   class="top_product_text_pc_font">
                                <img src="images/kisetsu2_kairashi.jpg  " alt="かいらしい袋 商品画像" class="kisetsu_p1" loading="lazy"/>
                            </a>
                </div >   
                    
            <div class="kisetsu_pc"> 
            		
                    <span class="view_timer" data-start-date="2023/12/26 00:00:00">   
                    	<a href="https://www.arareya.com/SHOP/b014.html" class="top_product_text_pc_font">
                            <img src="images/kisetsu3.jpg" alt="ごぼうあられとたまりおこげ餅シリーズ 商品画像" class="kisetsu_p1" loading="lazy"/>
                        </a>
                    </span>
            </div >
        </div>
 </div>  
       
<div class="under-element"></div>
		
<div id="catg-wrap_shiraki_pc_5" > 
<div class="shomi_kigen_text_pc_font animation">
※賞味期限は製造日より120日
</div>
    
<hr> 
	  <div class="oshirase_title">
        	ピックアップ商品
        </div>
</div>

<div id="catg-wrap_shiraki_pc_2" >
		<div class="oshirase_list">
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/fukiyose_karin_asort_aonami.html" class="pickup_text_pc_font">
                                <img src="images/230929_057.jpg" onmouseover="this.src='images/230929_150_20241127.jpg'" onmouseout="this.src='images/230929_057.jpg'" alt="吹きよせ菓憐 アソート 青波 商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">       
                                    吹きよせ菓憐 アソート 青波<br>
                                    <strong class="pickup_text_pc_price"><!--¥648-->¥756(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/fukiyose_karin_asort_kogiku.html" class="pickup_text_pc_font">
                                <img src="images/230929_060.jpg" onmouseover="this.src='images/230929_141_20241126.jpg'" onmouseout="this.src='images/230929_060.jpg'" alt="吹きよせ菓憐 アソート 小菊 商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">       
                                    吹きよせ菓憐 アソート 小菊<br>
                                    <strong class="pickup_text_pc_price"><!--¥648(税込)-->¥756(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                     <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/fukiyose_karin_asort_sekka.html" class="pickup_text_pc_font">
                                <img src="images/230929_066.jpg" onmouseover="this.src='images/230929_147_20241127.jpg'" onmouseout="this.src='images/230929_066.jpg'" alt="吹きよせ菓憐 アソート 雪華 商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">       
                                    吹きよせ菓憐 アソート 雪華<br>
                                    <strong class="pickup_text_pc_price"><!--¥648(税込)-->¥756(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                    
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/a001.html" class="pickup_text_pc_font">
                                <img src="images/pickup4.jpg" onmouseover="this.src='images/pickup4_2.jpg'" onmouseout="this.src='images/pickup4.jpg'" alt="感謝感激飴あられギフト（大箱）商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">
                            	<p class="pickup_text_pc_font"> 
                                    感謝感激飴あられギフト（大箱）<br>
                                    <strong class="pickup_text_pc_price"><!--¥4,320--><!--¥4,222-->¥4,968(税込)</strong>
                                </p>
                            </div>
                         </a>
                    </div>
                    <div class="pickup_wrap1 animation">
                        <a href="https://www.arareya.com/SHOP/kachofugetsu2.html" class="pickup_text_pc_font">
                                <img src="images/pickup5.jpg" onmouseover="this.src='images/pickup5_2.jpg'" onmouseout="this.src='images/pickup5.jpg'" alt="花鳥風月（中箱）商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                 <p class="pickup_text_pc_font">       
                                     花鳥風月（中箱）<br>
                                     <strong class="pickup_text_pc_price"><!--¥1,674-->¥1,944(税込)</strong>
                                 </p>
                            </div>
                        </a>
                    </div>
                    
                     <div class="pickup_wrap1 animation"> 
                         <a href="https://www.arareya.com/SHOP/c002.html" class="pickup_text_pc_font">
                         <img src="images/pickup8.jpg" onmouseover="this.src='images/pickup8_2_20241127.jpg'" onmouseout="this.src='images/pickup8.jpg'" alt="たまりおこげ餅（袋物）商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2"> 
                            	<p class="pickup_text_pc_font">                    
                                    たまりおこげ餅小パック（袋物）<br>
                                    <strong class="pickup_text_pc_price"><!--¥648-->¥756(税込)</strong>
                                </p>
                            </div>
                       </a>
                    </div>
                    
                    <div class="pickup_wrap1 animation"> 
                         <a href="https://www.arareya.com/SHOP/b003.html" class="pickup_text_pc_font">
                                <img src="images/pickup11.jpg" onmouseover="this.src='images/pickup11_2.jpg'" onmouseout="this.src='images/pickup11.jpg'" alt="和風カレーせんべい（袋物）商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">        
                                    和風カレーせんべい（袋物）<br>
                                    <strong class="pickup_text_pc_price"><!--¥918-->¥1,058(税込)</strong>
                                </p>
                            </div>
                          </a>
                    </div>
        </div>
 </div>

<div class="under-element"></div>

<div id="catg-wrap_shiraki_pc_5"> 
<div class="shomi_kigen_text_pc_font animation">
※賞味期限は製造日より120日
</div>
<!--ピックアップ商品終わり-->

<!--季節のおすすめ商品始まり-->
<hr id="kisetu_no_osusume"> 
	  <div class="oshirase_title">
          季節の割引商品
        </div>
</div>

<div id="catg-wrap_shiraki_pc_2" >
		<div class="oshirase_list">          
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/aki_no_fukiyose_1_240919" class="pickup_text_pc_font">
                                <img src="images/akinofukiyose_tanpin.png" onmouseover="this.src='images/akinofukiyose_tanpin_o.png'" onmouseout="this.src='images/akinofukiyose_tanpin.png'" alt="秋の吹きよせ／単品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">       
                                    秋の吹きよせ／単品<br>
                                    <strong class="pickup_text_pc_price">689円(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/aki_no_fukiyose_2_240919" class="pickup_text_pc_font">
                                <img src="images/akinofukiyose_2ko.png" onmouseover="this.src='images/akinofukiyose_2ko_o.png'" onmouseout="this.src='images/akinofukiyose_2ko.png'" alt="秋の吹きよせ ／2個入 商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">       
                                    秋の吹きよせ ／2個入<br>
                                    <strong class="pickup_text_pc_price">1,625円(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                    <div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/b005.html" class="pickup_text_pc_font">
                                <img src="images/noriita_arare.png" onmouseover="this.src='images/noriita_arare_o.png'" onmouseout="this.src='images/noriita_arare.png'" alt="海苔板あられ(個包装)商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">
                                    海苔板あられ(個包装)<br>
                                    <strong class="pickup_text_pc_price">422円(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>
                    <!--<div class="pickup_wrap1 animation"> 
                        <a href="https://www.arareya.com/SHOP/nagoya_miyage_set_kobako_20231101.html" class="pickup_text_pc_font">
                                <img src="images/newtplPreview-1.png" onmouseover="this.src='images/newtplPreview-1_o.png'" onmouseout="this.src='images/newtplPreview-1.png'" alt="名古屋選りすぐり 小箱 商品画像" class="pickup_p1_2" loading="lazy">
                            <div class="pickup_wrap_wrap2">                    
                                <p class="pickup_text_pc_font">
                                    名古屋選りすぐり 小箱<br>
                                    <strong class="pickup_text_pc_price">1,588円(税込)</strong>
                                </p>
                            </div>
                         </a>   
                    </div>-->
        </div>
 </div>

<div class="under-element"></div>

<div id="01" class="scroll_point">

<div id="catg-wrap_shiraki_pc">
<div class="shomi_kigen_text_pc_font2 animation">
    ※今だけ通常の15%OFFで販売<span class="br_sp"></span>&nbsp;※他クーポン・割引券との併用はできません<span class="br_sp"></span>&nbsp;※賞味期限は製造日より120日
</div>
<!--季節のおすすめ商品終わり-->

<!--商品カテゴリ始まり-->
<hr>
       <div class="oshirase_title">
       	   商品カテゴリ
       </div>
       
       <div class="catg_wrap">
       		<div class="catg_list_arabel animation">
                    <a href="https://www.arareya.com/SHOP/arare_bal_serious.html" class="catg_p_2">
                        <img src="images/pickup_ararebal_img.png" alt="アラレバルシリーズ画像" class="catg_p1_arabel" loading="lazy"/><p>アラレバルシリーズ<br>バージンオイル<br>仕立て</p>
                    </a>
            </div>
            <div class="catg_list animation">
            	<a href="https://www.arareya.com/SHOP/178757/list.html" class="catg_p">
                    <img src="images/pick1.png" alt="ギフト向き商品画像" class="catg_p1" loading="lazy">
                    <p>ギフト向き商品</p>
                </a>
            </div>
            
            <div class="catg_list animation">
            	<a href="https://www.arareya.com/SHOP/178758/list.html" class="catg_p">
                    <img src="images/pick3.png" alt="バラエティあられ商品画像" class="catg_p1" loading="lazy"/>
                   	<p>バラエティあられ</p>
                </a>
            </div>
            <div class="catg_list animation">
            	<a href="https://www.arareya.com/SHOP/377868/list.html" class="catg_p">
                    <img src="images/pick18.png" alt="名古屋土産商品画像" class="catg_p1" loading="lazy"/>
                   	<p>名古屋土産</p>
                </a>
            </div>
           
           <div class="catg_list animation">
            	<a href="https://www.arareya.com/SHOP/386658/list.html" class="catg_p">
                    <img src="images/pick19.png" alt="無選別・割れあられ画像" class="catg_p1" loading="lazy"/>
                   	<p>無選別・割れあられ</p>
                </a>
            </div>
            
            
             <div class="catg_list animation">
            	<a href="https://www.arareya.com/hpgen/HPB/categories/16450.html" class="catg_p">
                    <img src="images/pick17.png" alt="ありがとう飴画像" class="catg_p1" loading="lazy"/>
                    <p>オリジナルあられ</p>
                </a>
            </div>
           
           <div class="catg_list_arabel animation">
            	<a href="https://www.arareya.com/SHOP/389267/list.html" class="catg_p">
                    <img src="images/pick20.png" alt="季節のおすすめ商品画像" class="catg_p1" loading="lazy"/>
                    <p>季節の割引商品</p>
                </a>
            </div>
           
      </div> 
</div>            
 <!--商品カテゴリ終わり-->

<div class="under-element"></div> 

 <div class="catg-wrap_shiraki_pc">
 <div class="shomi_kigen_text_pc_font2 animation">
※賞味期限は製造日より120日
</div>
     
 <!--店舗案内始まり-->
 	<hr id="shop">
     	<div class="oshirase_title">
        	店舗
        </div>
       
       	<div class="catg_wrap">
            <div class="tenpo_list animation">
                <img src="images/honten_photo.jpg" alt="あられの匠白木本店店舗画像" class="tenpo_p1"/>
              <p class="tenpo_title">本店</p><hr class="hr2">
               		<table class="tenpo_hyou">
                                  <tr>
                                    <th class="tenpo_hyou_title">営業時間：</th>
                                    <td class="tenpo_hyou_p">
                                    	<span class="view_timer" data-end-date="2023/12/27 23:59:59">
                                        	平日 9:30〜18:30、土・日・祝 10:00〜17:00 <br>※祝日の月曜は休業
                                        </span>
                                        <span class="view_timer" data-start-date="2023/12/28 00:00:00">
                                        	平日 9:30〜18:00、土・日・祝 10:00〜17:00 <br>※祝日の月曜は休業
                                        </span>
                                            
                                     </td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">住所：</th>
                                    <td class="tenpo_hyou_p">〒462-0044　名古屋市北区元志賀町1-57</td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">電話番号：</th>
                                    <td class="tenpo_hyou_p">052-981-1818</td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">FAX番号：</th>
                                    <td class="tenpo_hyou_p">052-914-1819</td>
                                  </tr>
                                  <tr>
                                  	<th class="tenpo_hyou_title">MAP:</th>
                                    <td class="tenpo_hyou_p"><a href="https://www.google.com/maps/place/%E3%80%92462-0044+%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E5%8C%97%E5%8C%BA%E5%85%83%E5%BF%97%E8%B3%80%E7%94%BA%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%95%EF%BC%97/@35.2012164,136.9058342,17z/data=!3m1!4b1!4m5!3m4!1s0x6003714e01eece15:0xcbdfc79ebea583e6!8m2!3d35.2012164!4d136.9080229" class="link_p" target="_blank">マップはこちら→</a></td>
                                  </tr>
                    </table>
            </div>
            <div class="tenpo_list_last animation">
                <img src="images/gotanda_photo.jpg" alt="あられの匠五反田工場店店舗画像" class="tenpo_p1"/>
                <p class="tenpo_title">五反田工場店</p><hr class="hr2">
       		  <table class="tenpo_hyou">
                                  <tr>
                                    <th class="tenpo_hyou_title">定休日：</th>
                                    <td class="tenpo_hyou_p">土曜・日曜・祝日</td>
                                  </tr>                 
                                  <tr>
                                    <th class="tenpo_hyou_title">営業時間：</th>
                                    <td class="tenpo_hyou_p">10:00〜17:00<br>※毎月第1木・金・土曜は五反田工場店限定<br>「割れあられ感謝DAY」<br>第1土曜日のみ10:00～16:00にて営業</td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">住所：</th>
                                    <td class="tenpo_hyou_p">〒462-0011　名古屋市北区五反田町164</td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">電話番号：</th>
                                    <td class="tenpo_hyou_p">052-901-6701</td>
                                  </tr>
                                  <tr>
                                    <th class="tenpo_hyou_title">FAX番号：</th>
                                    <td class="tenpo_hyou_p">052-901-5621</td>
                                  </tr>
                                  <tr>
                                  	<th class="tenpo_hyou_title">MAP:</th>
                                    <td class="tenpo_hyou_p"><a href="https://www.google.com/maps/place/%E3%80%92462-0011+%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E5%8C%97%E5%8C%BA%E4%BA%94%E5%8F%8D%E7%94%B0%E7%94%BA%EF%BC%91%EF%BC%96%EF%BC%94/@35.228257,136.9106114,17z/data=!3m1!4b1!4m5!3m4!1s0x600373ed7e94d95b:0x28bf61a3aac31caa!8m2!3d35.228257!4d136.9128054" class="link_p" target="_blank">マップはこちら→</a></td>
                                  </tr>
                    </table>
            </div>
         </div>
     </div>
<div class="under-element"></div>

  <div class="catg-wrap_shiraki_pc_20250725">   
     <hr>
     	<div class="oshirase_title">
        	一部商品取扱店
        </div>
       
       	<div class="catg_wrap">
            <div class="ichibu_tenpo_list animation">
              <p class="tenpo_title">愛知県</p><hr class="hr2">
               		<div class="tenpo_hyou">
                        ジェイアール名古屋タカシマヤ銘菓百選<br>
                        中部国際空港セントレア銘品館<br>
                        御園小町（御園座1階）<br>
                        茶香・丸源<br>
                        イオンスタイル各務原インター銘店<br>
                        フランテ（一部店舗）<br>
                        名古屋港水族館<br>
                        愛知県美術館
                    </div>
            </div>
            <div class="ichibu_tenpo_list animation">
                <p class="tenpo_title">関東</p><hr class="hr2">
                    <div class="tenpo_hyou">
                        六本木ヒルズ　菓子の記録帖
                    </div>
            </div>
            
            <div class="ichibu_tenpo_list_last animation">
                <p class="tenpo_title_matsuzakaya">関西</p><hr class="hr2">
       		        <div class="tenpo_hyou">
                         阪急百貨店（一部店舗）
                    </div>
            </div>
		</div> 
</div> 
  <!--店舗案内終わり--> 
<!--=================
PC本文終わり
==================-->

<!--=================
SP本文始まり
==================-->
     
<!--=================
SP本文終わり
==================-->
</div>
</div>
</div>

<div class="under-element"></div>  
 
 <div id="site-footer"></div>

<!-- /.wrap -->

<!--=================
slicker始まり
==================-->


<!--スライダー設置部 -->
<!-- 専用のスタイルシートを読み込む-->

<!--CDNを読み込む -->
<!-- jQuery.jsの読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--専用のmin(プラグイン)を読み込む -->
<script type="text/javascript" src="js/slick.min.js"></script>
<!--=================
slicker終わり
==================-->

<!-- ドロワー用js読み込み始まり -->
<script src="js/floating_menu.js"></script>
<!-- ドロワー用js読み込み終わり -->

<script src="js/blog_drawer_menu.js"></script>

<script src="js/common.js"></script>

</body>
</html>